* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
}

.headerContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.logo {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.navigationContainer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 5px;
}

.navigation {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sectionArticleAsideContainer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionArticleContainer {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionContainer {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.section {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.articleContainer {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.article {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.asideContainer {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.aside {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.footerContainer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}